<div class="menu">
    <div class="menu-tree">
        <div class="form-group-sm menu-search">
            <input placeholder="Search" class="form-control" ng-model="predicate"/>
        </div>
        <treecontrol class="tree-light"
                     tree-model="dataForTheTree"
                     options="treeOptions"
                     expanded-nodes = "dataForTheTree"
                     filter-expression="predicate"
                     filter-comparator="comparator"
                     on-selection="showSelected(node, selected, $parentNode, $index, $first, $middle, $last, $odd, $even)"
                     on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even)">
            <span class="menu-tree-item" ng-mousedown="openMenu()" ng-mouseup="cancelOpenMenu()"><span class={{node.menu_icon}}></span> {{node.menu_name}}</span>
        </treecontrol>
    </div>
    <div class="menu-operate">
        <div class="menu-operate-button">
            <button type="button">上移</button>
            <button type="button">下移</button>
            <button type="button">修改</button>
            <button type="button">保存</button>
        </div>
    </div>
    <div class="menu-message">
        <div class="menu-one">
            <div class="menu-info">
                <!--<div class="menu-info-head">-->
                    <!--用户系统-->
                <!--</div>-->
                <div class="menu-info-form">
                    <form role="form">
                        <div class="menu-form-input form-group-sm form-inline">
                            <label class="control-label">名称：</label>
                            <input type="text"id="menu_name" name="menu_name" ng-model="menu.menu_name" class="form-control">
                        </div>
                        <div class="menu-form-input form-group-sm form-inline">
                            <label class="control-label">图标：</label>
                            <span class={{menu.menu_icon}}></span>
                            <input type="hidden" id="menu_icon" name="menu_icon" ng-model="menu.menu_icon" class="form-control">
                            <a href="javascript:void(0)" class="control-label">更换</a>
                        </div>
                        <div class="menu-form-input form-group-sm form-inline">
                            <label class="control-label">后台路由：</label>
                            <input type="text" id="menu_url" name="menu_url" ng-model="menu.menu_url" class="form-control">
                        </div>
                        <div class="menu-form-input form-group-sm form-inline">
                            <label class="control-label">state参数：</label>
                            <input type="text" id="state" name="state" ng-model="menu.state" class="form-control">
                        </div>
                        <div class="menu-form-input form-group-sm form-inline">
                            <label>是否抽象（ng路由参数）：</label>
                            <input type="radio"  name="abstract" ng-model="menu.abstract" ng-checked = menu.abstract==true value=true class="form-control">是&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio"  name="abstract" ng-model="menu.abstract" ng-checked = menu.abstract==false value=false class="form-control">否
                        </div>
                        <div class="menu-form-input form-group-sm form-inline">
                            <label class="control-label">请求页面路由：</label>
                            <input type="text" id="templateUrl" name="templateUrl" ng-model="menu.templateUrl" class="form-control">
                        </div>
                        <div class="menu-form-input form-group-sm form-inline">
                            <label class="control-label">页面控制器：</label>
                            <input type="text" id="controllerUrl" name="controllerUrl" ng-model="menu.controllerUrl" class="form-control">
                        </div>
                        <div class="menu-form-input form-group-sm form-inline">
                            <label class="control-label">views参数：</label>
                            <textarea type="text" rows="10" id="views" name="views" ng-model="menu.views" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>