<div class="menu">
    <div class="menu-tree">
        <div class="form-group-sm menu-search">
            <input placeholder="Search" class="form-control" ng-model="predicate"/>
        </div>
        <treecontrol class="tree-classic"
                     tree-model="dataForTheTree"
                     options="treeOptions"
                     filter-expression="predicate"
                     filter-comparator="comparator"
                     on-selection="showSelected(node, selected, $parentNode, $index, $first, $middle, $last, $odd, $even)"
                     on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even)">
            <span class="menu-tree-item" ng-mousedown="openMenu()" ng-mouseup="cancelOpenMenu()"><span class={{node.menu_icon}}></span> {{node.menu_name}}</span>
        </treecontrol>
    </div>
    <div class="menu-operate">
        <div class="menu-operate-button">
            <button type="button">上移</button>
            <button type="button">下移</button>
            <button type="button">修改</button>
            <button type="button">保存</button>
        </div>
    </div>
    <div class="menu-message">
        <div class="menu-one"></div>
        <div class="menu-two" ng-class="{true:'menu-chose',false:''}[menu_chose]"></div>
        <div class="menu-div">
            <div ng-click="menu_chose = false">基础信息</div>
            <div ng-click="menu_chose = true">其他配置</div>
        </div>
    </div>
</div>