.layout{
    position: relative;
    width: 100%;
    height: 100%;
}

.layout .sky_icon{
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.layout .sky_icon:hover{
    color: black;
}

.layout .sky_disable{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: none;
}

.layout .body{
    position: absolute;
    width: 100%;
    height: 85%;
    padding: 0;
    top: 0;
    z-index: 1;
}

.layout .foot{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: white;
    z-index: 2;
    box-shadow: 1px 1px 10px 1px #262626;
}

.layout .body .body_left{
    position: absolute;
    height: 100%;
    width: 200px;
    background-color: rgb(33, 144, 255);
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 1px -1px 10px 1px #262626;
}


@keyframes  collapse_left{
    from{
        width: 200px;
    }to{
        width: 40px;
    }
}

.layout .body .body_left_collapse{
    position: absolute;
    height: 100%;
    /*left: 0;*/
    animation: collapse_left 0.1s both ease-in;
    background-color: rgb(33, 144, 255);
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 1px -1px 10px 1px #262626;
}

.body_left_title{
    position: absolute;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 0 10px 1px #262626;
    background-color: rgb(33, 144, 255);
    z-index: 2;
}
.left_navbar{
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    background-color: #fbfbfb;
    z-index: 1;
}

.layout .body_left_hide{
    position: absolute;
    display: none;
    width: 18px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    color: white;
    cursor: pointer;
    background-color: black;
    border-radius: 8px;
    z-index: 2;
    opacity: 0.5;
    line-height: 200px;
    border: 2px solid silver;
}


.layout .body .body_right{
    position: absolute;
    height: 100%;
    padding: 0;
    left: 200px;
    right: 0;
    z-index: 1;
}

@keyframes  collapse_right{
    from{
        left: 200px;
    }to{
        left: 40px;
     }
}

.layout .body .body_right_collapse{
    position: absolute;
    height: 100%;
    padding: 0;
    animation: collapse_right 0.1s both ease-in;
    right: 0;
    z-index: 1;
}

/*.layout .body .body_right*/
.sky_main {
    position: absolute;
    left: 0;
    right: 150px;
    height: 100%;
}

.sky_main_head {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 10px 1px #484848;
    z-index: 2;
}

.sky_main_body {
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 0;
    background-color: #e9e9e9;
    z-index: 1;
}

.sky_main_body .sky_view{
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background-color: white;
    overflow: auto;
}

.sky_other {
    position: absolute;
    width: 150px;
    height: 100%;
    right: 0;
    z-index: 2;
    box-shadow: -1px 0px 10px 1px #484848;
}

.sky_other_user {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #aaaaaa;
}

.sky_other_message {
    position: absolute;
    width: 100%;
    top: 150px;
    bottom: 0;
    background-color: white;
}

.layout .layout_tool{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 30px;
    width: 150px;
    height: 200px;
    background-color: darkmagenta;
    z-index: 1000;
    opacity: 0.5;
}

@media (max-height: 600px) {
    .layout .body{
        height: 100%;
    }

    .layout .foot{
        display: none;
    }
}

@media (max-height: 400px) {
    .sky_main_body{
        top: 0;
    }

    .sky_main_head{
        display: none;
    }
}

@media (max-width: 992px) {
    .layout .body_left_hide{
        display: block;
    }
    .layout .body .body_left{
        width: 40px;
    }
    .layout .body .body_right{
        left: 40px;
    }
    .body_left_title .sky_disable{
        display: block;
    }
}
@media (max-width: 768px) {
    .sky_main {
        right: 0;
    }
    .sky_other {
        display: none;
    }
}



/*****/
.layout_left{
    position: relative;
    width: 280px;
    height: 100%;
    background-color: white;
}
.layout_left_body{
    position: relative;
    width: 100%;
    height: 100%;
}

