<div ng-controller="userCtrl" class="userManager">
    <div class="userInfo"  >
        <div class="chose" ng-click="showFun()">功能选择</div>
        <ul>
            <li><span class="glyphicon glyphicon-screenshot"></span>角色</li>
            <li><span class="glyphicon glyphicon-screenshot"></span>用户组</li>
            <li><span class="glyphicon glyphicon-screenshot"></span>用户</li>
        </ul>
    </div>
    <div class="user-chose">
        gdfgfds
    </div>
    <div class="users">
        <div>

        </div>
    </div>
</div>