<div ng-controller="layoutCtrl" class="layout">
    <div class="body">
        <div class="body_left">

        </div>
        <div class="body_right">
            <div class="sky_main">
                <div class="sky_main_head">

                </div>
                <div class="sky_main_body">

                </div>
            </div>
            <div class="sky_other">
                <div class="sky_other_user" ng-include="'view/main/layout/userLogin.html'">

                </div>
                <div class="sky_other_message">

                </div>
            </div>
        </div>
    </div>
    <div class="foot">

    </div>
</div>
