<div class="sky_navbar" ng-controller="leftNavCtrl">
    <div class="list-group sky_li">
        <a href="#/layout/home" class="list-group-item active" title="TSKYLAKE"><span class="glyphicon glyphicon-home"></span>TSKYLAKE</a>
        <a href="#/layout/user" class="list-group-item" title="用户系统"><span class="glyphicon glyphicon-user"></span>用户系统</a>
        <a href="#/layout/dd" class="list-group-item" title="回收站"><span class="glyphicon glyphicon-trash"></span>回收站</a>
        <a href="#/layout/ff" class="list-group-item" title="系统设置"><span class="glyphicon glyphicon-asterisk"></span>系统设置</a>
        <a href="#/layout/ff" class="list-group-item" title="系统日志"><span class="glyphicon glyphicon-time"></span>系统日志</a>
    </div>
</div>

<style type="text/css">
    .sky_navbar{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding-right: 3px;
        padding-left: 3px;
    }

    .sky_navbar .sky_li{
        overflow: hidden;
    }

    .sky_navbar .sky_li span{
        margin-left: 9px;
        margin-right: 13px;
        font-size: 15px;
    }

    .sky_navbar .sky_li a{
        z-index: 1;
        padding-left: 0;
        white-space:nowrap;
        letter-spacing: 1px;
    }


</style>